header {
    background-color: lightsalmon;
    text-align: right;
}

section {
    display: grid;
    grid-template-columns: repeat(4, 400px);
    gap: 20px;
    justify-content: center;
}

article {
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
}

article img {
    height: 300px;
    width: 300px;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

article a {
    position: relative;
    bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    background-color: lightsalmon;
    padding-left: 5px;
    padding-right: 5px;
}

a:hover {
    background-color: lightslategray;
}

footer {
    background-color: lightsalmon;
    text-align: center;
}